@use "~styles/abstracts/breakpoint" as *;
.contact-block .container {
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint(md) {
        grid-template-columns: 1fr 1fr;
    }
}
.contact-detail {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-3);
    p {
        margin: 0;
    }
    svg {
        width: 20px;
        margin-right: var(--spacing-4);
    }
    &.contact-detail--address {
        align-items: flex-start;
    }
}
