---
import { HTMLRender } from "~helpers/htmlRender";
import GravForm from "~components/GravForm/GravForm";
import { getContactDetails } from "~data/global";
import "./style.scss";

const { blockData, blockContext } = Astro.props;
---

<div class="form-block">
    {
        blockData.text && (
            <div class="form-block__text">
                <HTMLRender data={blockData.text} />
            </div>
        )
    }
    {
        blockData.formId && (
            <div class="form-block__form">
                <GravForm client:load id={blockData.formId} />
            </div>
        )
    }
</div>
