---
import ImageHero from "./ImageHero/ImageHero.astro";
import VideoHero from "./VideoHero/VideoHero.astro";
import SliderHero from "./SliderHero";
import "./style.scss";

const { blockData, blockContext } = Astro.props;
---

<div class="hero-block">
    {blockData.heroType === "one-image" && <ImageHero blockData={blockData} />}
    {blockData.heroType === "one-video" && <VideoHero blockData={blockData} />}
    {blockData.heroType === "slider" && <SliderHero client:load blockData={blockData} />}
</div>
