@use "~styles/abstracts/breakpoint" as *;
.image-grid-block {
    padding: var(--spacing-20) 0;
    @include breakpoint(lg) {
        &.image-grid-block--left .image-grid-block__image-grid {
            order: -1;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-8);
        }
    }
    .image-grid-block__image-grid {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
        @include breakpoint(md) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
