@use "sass:math";
// calc relative px
@function rpx($px, $base) {
    $calc: math.div($base, 16);
    $rpx: $px * $calc;
    @return #{$rpx}px;
}

@mixin spacings($name, $inc, $loop-total, $base) {
    @for $i from 1 through $loop-total {
        $px: $inc * $i;
        --#{$name}-#{$i}: #{rpx($px, $base)};
    }
}
