@use "~styles/abstracts/breakpoint" as *;
.text-image-block {
    padding: var(--spacing-20) 0;
    @include breakpoint(lg) {
        &.text-image-block--left .text-image-block__image {
            order: -1;
        }
    }
    .container {
        display: flex;
        flex-direction: column;
        @include breakpoint(lg) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--spacing-8);
            align-content: center;
            align-items: center;
        }
    }
}
