---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getPage, getPageSlugs } from "~data/page";
import FlexibleContent from "~components/FlexibleContent/flexibleContent.astro";

// get page data and slugs
const { pageSlug } = Astro.params;
let page = await getPage(pageSlug);

export async function getStaticPaths() {
    let data = await getPageSlugs();

    return data.nodes.map((page) => ({
        params: { pageSlug: page.slug },
        props: { page: page },
    }));
}
---

<Layout pageSlug={pageSlug} seoData={page.page.seo}>
    <main class="main-content">
        <FlexibleContent blockData={page.page.pageBuilder.blocks} contentType="Page" />
    </main>
</Layout>
