---
import Layout from "../layouts/Layout.astro";
import { getHomePage } from "~data/page";
import FlexibleContent from "~components/FlexibleContent/FlexibleContent.astro";

const page = await getHomePage();
---

<Layout seoData={page.page.seo}>
    <main class="main-content">
        <FlexibleContent blockData={page.page.pageBuilder.blocks} contentType="Page" />
    </main>
</Layout>
