---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getHomePage } from "~data/page";
import FlexibleContentPages from "~components/FlexibleContent/flexibleContentPages";

const page = await getHomePage();
---

<Layout seoData={page.page.seo}>
    <main class="main-content">
        <FlexibleContentPages client:load blockData={page.page.pageBuilder.blocks} />
    </main>
</Layout>
