---
import Layout from "~layouts/Layout.astro";
import { getPostList, getPostArchiveSeo } from "~data/post";
import PostList from "~components/PostList";

let postOffset = 0;

const allPosts = await getPostList(postOffset, parseInt(import.meta.env.PUBLIC_POST_SIZE));
const PostArchiveSeo = await getPostArchiveSeo();
---

<Layout pageSlug="news" seoData={PostArchiveSeo.acfOptionsArchivePageSettings.newsArchiveSettings}>
    <main class="main-content">
        <div class="container">
            <h1>{PostArchiveSeo.acfOptionsArchivePageSettings.newsArchiveSettings.pageTitle}</h1>
            <PostList client:load postsData={allPosts} page={1} path="/news/" postSize={parseInt(import.meta.env.PUBLIC_POST_SIZE)} />
        </div>
    </main>
</Layout>
