:root {
  /* ---------------------------------------
    Theme Colours
    ------------------------------------------ */
  --alert: #ef4444;
  --warning: #fde68a;
  --black: #000000;
  --white: #ffffff;

  --grey-100: #f5f5f5;
  --grey-200: #e5e5e5;
  --grey-300: #d4d4d4;
  --grey-400: #a3a3a3;
  --grey-500: #737373;
  --grey-600: #525252;
  --grey-700: #484848;
  --grey-800: #262626;
  --grey-900: #171717;

  --dblue: #2f404f;
  --lblue: #7fbaaa;
  --canvas: #f0f1ee;
  --parchment: #eee8c5;
  --brown: #c89891;
  --pink: #d26f95;
  --white: #fefefe;
  --black: #000000;
  --plum: #302a3a;

  --brand-1: #2f404f;
  --brand-2: #d26f95;
}
