@use "~styles/functions/breakpoint" as *;
@use "~styles/functions/conversions" as *;
:root {
    /* ---------------------------------------
    Character Limit Sizes and max widths
    ------------------------------------------ */
    --size-content-1: 20ch;
    --size-content-2: 45ch;
    --size-content-3: 60ch;
    --size-header-1: 20ch;
    --size-header-2: 25ch;
    --size-header-3: 45rem;

    /* ---------------------------------------
    Gaps, Padding, & Margins
    ------------------------------------------ */
    /* these work on a scale of 4px increments, please keep to this mind set if adding more sizes */
    --inc: 4px; // can be changed to a rem value by using #{to-rems(4px)}
    --spacing-1: calc(var(--inc) * 1);
    --spacing-2: calc(var(--inc) * 2);
    --spacing-3: calc(var(--inc) * 3);
    --spacing-4: calc(var(--inc) * 4);
    --spacing-5: calc(var(--inc) * 5);
    --spacing-6: calc(var(--inc) * 6);
    --spacing-7: calc(var(--inc) * 7);
    --spacing-8: calc(var(--inc) * 8);
    --spacing-9: calc(var(--inc) * 9);
    --spacing-10: calc(var(--inc) * 10);
    --spacing-20: calc(var(--inc) * 20);
    --spacing-30: calc(var(--inc) * 30);
    --spacing-40: calc(var(--inc) * 40);

    /* ---------------------------------------
    container Settings
    ------------------------------------------ */
    --container-width: 1200px;
    --container-wide-width: 1440px;
    --inline-gutters: var(--spacing-6); // ◀▶ The gutter down the left and right sides
    --block-gutters: var(--spacing-10); // 🔼🔽 The gutter on the top and bottom sides

    /* ---------------------------------------
    Aspect ratios
    ------------------------------------------ */
    --ratio-box: 1;
    --ratio-landscape: 4/3;
    --ratio-portrait: 3/4;
    --ratio-widescreen: 16/9;
    --ratio-ultrawide: 18/5;
    --ratio-golden: 1.618/1;
}
