---
import Menu from "~components/Menu";
import { WpImage } from "~helpers/WpImage";
import ScreenVisibility from "~helpers/ScreenVisibility";
import { getHeader, getMenu } from "~data/global.js";

import "./style.scss";

const menu = await getMenu();
const header = await getHeader();
---

<header class="globalHeader">
    <div class="logo">
        <a aria-label="back to homepage" class="header-link-home" href="/">
            {/* Output the logo if it is a standard image file format */}
            {header.themeGeneralSettings.themeSettings?.siteLogo && <WpImage file={header.themeGeneralSettings.themeSettings?.siteLogo.node} />}
            {/* Output the logo if it is a SVG */}
            {header.themeGeneralSettings.themeSettings?.siteLogoSvg && <WpImage file={header.themeGeneralSettings.themeSettings?.siteLogoSvg.node} />}
        </a>
    </div>
    <div class="desktopNav">
        <ScreenVisibility client:load mediaQuery={"(max-width: 1024px)"} hideOnMediaQuery={true}>
            <Menu className="menu desktop-menu" menuData={menu.menuItems} />
        </ScreenVisibility>
    </div>
</header>
