@use "~styles/functions/breakpoint" as *;
.globalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-10);
    background-color: var(--brand-1);
    .logo {
        width: 100%;
        max-width: 250px;
    }
    .desktopNav {
        display: block;
        width: 100%;
    }
    @include breakpoint(lg) {
        justify-content: center;
    }
}
