---
import { HTMLRender } from "~helpers/htmlRender";
const { blockData, blockContext } = Astro.props;
const classList = [
    "text-block",
    "content-grid",
    {
        "context-multi": blockContext === "multi",
        "bg-colour-black": blockData.blockBackgroundColour === "black",
        "bg-colour-white": blockData.blockBackgroundColour === "white",
        "bg-colour-brand-1": blockData.blockBackgroundColour === "brand-1",
        "bg-colour-brand-2": blockData.blockBackgroundColour === "brand-2",
        "bg-colour-brand-3": blockData.blockBackgroundColour === "brand-3",
        "text-colour-black": blockData.blockTextColour === "black",
        "text-colour-white": blockData.blockTextColour === "white",
        "text-colour-brand-1": blockData.blockTextColour === "brand-1",
        "text-colour-brand-2": blockData.blockTextColour === "brand-2",
        "text-colour-brand-3": blockData.blockTextColour === "brand-3",
        breakout: blockData.blockWidth === "wide",
        "full-width": blockData.blockWidth === "full",
    },
];
---

<div id={blockData.blockId} class:list={classList}>
    {blockData.wysiwyg && <HTMLRender data={blockData.wysiwyg} />}
</div>
