---
import { HTMLRender } from "~helpers/htmlRender";

const { blockData, blockContext } = Astro.props;
---

<div class="text-block">
    {blockData.wysiwyg && <HTMLRender data={blockData.wysiwyg} />}
</div>
