---
import { HTMLRender } from "~helpers/htmlRender";
import { WpImage } from "~helpers/WpImage";

import "./style.scss";

const { blockData } = Astro.props;
---

<div class={`image-grid-block image-grid-block--${blockData.gridPosition}`}>
    <div class="container">
        <div class={`image-grid-block__text`}>
            <HTMLRender data={blockData.text} />
        </div>

        <div class="image-grid-block__image-grid">
            {
                blockData.images.map((image) => {
                    return <WpImage file={image} />;
                })
            }
        </div>
    </div>
</div>
